<configuration>

    <!-- <appender name="FILE"  class ="ch.qos.logback.core.FileAppender">
   <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> -->
    <!-- encoder 默认配置为PatternLayoutEncoder
    <file>hello.log</file>
            <append>true</append>
    <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
</appender>
    <logger name="hello"/>
    <logger name="hello.HelloWorld" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger> -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>

</configuration>