<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app id="WebApp_ID" version="2.5"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	     http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd" >


    <servlet>
        <servlet-name>caculateservlet</servlet-name>
        <servlet-class>hello.CaculateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>caculateservlet</servlet-name>
        <url-pattern>/calculate</url-pattern>
    </servlet-mapping>
    <!--<context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/SpringBeans.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener> -->

    <listener>
        <listener-class>
            hello.MyListener
        </listener-class>
    </listener>



</web-app>